@model Double

<link rel="stylesheet" href="/css/raiting.css" asp-append-version="true"/>

<div class="raiting-container">
    <div class="raiting-items">
        <input id="s10" type="radio" class="raiting-star-radio" name="raiting-item" value="10" />
        <label for="s10" class="raiting-star-label"></label>

        <input id="s9" type="radio" class="raiting-star-radio" name="raiting-item" value="9" />
        <label for="s9" class="raiting-star-label"></label>

        <input id="s8" type="radio" class="raiting-star-radio" name="raiting-item" value="8" />
        <label for="s8" class="raiting-star-label"></label>

        <input id="s7" type="radio" class="raiting-star-radio" name="raiting-item" value="7" />
        <label for="s7" class="raiting-star-label"></label>

        <input id="s6" type="radio" class="raiting-star-radio" name="raiting-item" value="6" />
        <label for="s6" class="raiting-star-label"></label>

        <input id="s5" type="radio" class="raiting-star-radio" name="raiting-item" value="5" />
        <label for="s5" class="raiting-star-label"></label>

        <input id="s4" type="radio" class="raiting-star-radio" name="raiting-item" value="4" />
        <label for="s4" class="raiting-star-label"></label>

        <input id="s3" type="radio" class="raiting-star-radio" name="raiting-item" value="3" />
        <label for="s3" class="raiting-star-label"></label>

        <input id="s2" type="radio" class="raiting-star-radio" name="raiting-item" value="2" />
        <label for="s2" class="raiting-star-label"></label>

        <input id="s1" type="radio" class="raiting-star-radio" name="raiting-item" value="1" />
        <label for="s1" class="raiting-star-label"></label>
    </div>
</div>
