<div class="navbar-container">
    <ul>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Home">
                <div class="text-start nav_button_container" style="font-weight:600">                    
                        <img src="~/image/home.png" class="nav_button_image" />
                        Главная                    
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Фэнтези">
                <div class="text-start nav_button_container">
                    <img src="~/image/dragon2.png" class="nav_button_image" />
                    Фэнтези
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Фантастика">
                <div class="text-start nav_button_container">
                    <img src="~/image/planet_icon.png" class="nav_button_image" />
                    Фантастика
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Хоррор/Ужасы">
                <div class="text-start nav_button_container">
                    <img src="~/image/horror3.png" class="nav_button_image" />
                    Хоррор/Ужасы
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Детектив">
                <div class="text-start nav_button_container">
                    <img src="~/image/det2.png" class="nav_button_image" />
                    Дeтектив
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Повесть">
                <div class="text-start nav_button_container">
                    <img src="~/image/icon.png" class="nav_button_image" />
                    Повесть
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Техническая">
                <div class="text-start nav_button_container">
                    <img src="~/image/key3.png" class="nav_button_image" />
                    Техническая
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Научпоп">
                <div class="text-start nav_button_container">
                    <img src="~/image/atom3.png" class="nav_button_image" />
                    Научпоп
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Психология">
                <div class="text-start nav_button_container">
                    <img src="~/image/mind.png" class="nav_button_image" />
                    <div>
                        Популярная психология
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Бизнесс">
                <div class="text-start nav_button_container">
                    <img src="~/image/money1.png" class="nav_button_image" />
                    Бизнесс литература
                </div>
            </a>
        </li>
        <li>
            <a class="btn btn-lg nav_button" asp-action="Index" asp-controller="Catalog" asp-route-context="Детская">
                <div class="text-start nav_button_container">
                    <img src="~/image/f_kid.png" class="nav_button_image" />
                    Детская литература
                </div>
            </a>
        </li>
    </ul>
</div>