@model String

<div class="body-container">
    @await Html.PartialAsync("Navbar")
    <div class="not-found-container">
        <div>К сожалению по вашему запросу <b>@Model</b> ничего не найдено</div>
        <div><img src="/image/page404.png" /></div>
        
    </div>
</div>