body {
    background-image: url(../image/alter_bg.png);
    font-family: Georgia;
}



.clickable-card {
    text-decoration: none;
    color: inherit;
}

.extra {
    position:absolute;
    height:100%;
    width:100%;
}

.inner-container {
    width: 85%;
    /*height: max-content;*/
    min-height:100vh;
    margin: 0 auto;
}

@media (max-width:960px) {
    .inner-container {
        width: 95%;
    }
}



.header-wrapper {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    margin-bottom: 1em;
    background: #f1f4f8ad;
    border-radius: 0 0 10px 10px;
}



.logo-container {
    position: relative;
    grid-row: 1/3;
    padding-top: 20px;
}



    .logo-container img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

.search-container {
    display: flex;
}

    .search-container button {
        background: #467fd0;
        border: none;
        border-radius:7px;
        width: 50px;
    }


.bottom-header-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 1em;
    align-items: start;
}

.top-panel-container {
    justify-self: end;
}

    .top-panel-container ul {
        display: flex;
        list-style-type: none;
    }

    .top-panel-container li {
        margin: 10px;
        margin-bottom: 5px;
    }

        .top-panel-container li a{
            text-decoration:none;
            color:black;
        }

.login-container {
}

    .login-container ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

        .login-container ul li {
            margin-right: 1em;
        }





.body-container {
    height: max-content;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
}

.navbar-container {
    height: max-content;
    background: #f1f4f865;
    overflow:hidden;
    min-width:min-content;
}

    .navbar-container ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

.burger-container {
    display:none;
}

.content-container {
    background: #f1f4f8ad;
    border-radius: 10px 10px 0 0;
    height: max-content;
    width: 100%;
}


.btn.nav_button {
    width: 100%;
    backdrop-filter: blur(3px);
    transition: background 0.2s linear;
    text-decoration: none;
}

    .btn.nav_button:hover {
        /*transform: scale(1.05);*/
        /*font-size: 135%;*/
        background: #ecf0f5a5;
    }

.nav_button_container {
    display: flex;
}


.nav_button_image {
    margin-left: 5px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.footer-container {
    background-color: #f1f4f897;
}


@media (max-width: 767px) {

    .inner-container {
        width: 100vw;
    }

    .logo-container {
        display: none;
    }


    .header-wrapper {
        height: 120px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .bottom-header-container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-column-gap: 0em;
        align-items: start;
        margin-left: 10px;
    }

    .login-top-button {
        display: none;
    }

    .body-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0em;
    }

    .burger-container {
        background: #e9edf3ad;
        display: flex;
        justify-content: start;
    }

        .burger-container button {
            font-size: 0px;
            border-width: 0;
            background: none;
            width: 42px;
            
        }

    .burger-container img {
        height: 50px;
    }

    .navbar-container{
        display:none;
    }

    .navbar-container.active {
        display: block;
    }

    .content-container.non-active{
        display:none;
    }

}

.not-found-container {
    display:grid;
    grid-template-columns: 1fr;
    justify-items:center;
    background: #f1f4f8ad;
    font-size: 24px;
    height: 100%;
}

